@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Quicksand";
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Reset list styles */
ul,
ol {
  list-style: none;
}

/* Reset anchor styles */
a {
  text-decoration: none !important;
  color: inherit;
}

/* Apply box-sizing to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 80px; /* height of sticky header */
}

/* Reset CSS end */

.logo-main {
  width: 100px;
  height: auto;
}

body {
  padding-top: 80px; /* Adjust this value based on your navbar height */
}

.custom-nav > li > a {
  font-family: "Quicksand";
  font-size: 1rem;
  font-weight: 600;
}

a:hover {
  color: gray;
}
.uk-navbar-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 4rem;
  text-align: center;
}

.center-content > div {
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* Section 2 */
.section-2,
.section-3 {
  background-color: rgb(238, 237, 237);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.title-margin {
  margin-bottom: 1rem;
}

.custom-card {
  border-radius: 10px;
  overflow: hidden;
}

.uk-card.modified {
  transition: background-color 0.3s;
  background-color: initial;
}

.uk-card.modified:hover {
  background-color: rgb(46, 46, 46);
}

.uk-card.modified:hover .uk-card-title {
  color: white;
}

.uk-card.modified:hover .product-text {
  color: white;
}

.section-3 {
  background-color: white;
}
.custom-svg {
  width: 22px; /* Set your desired width here */
  height: auto; /* Maintain aspect ratio */
}
/* Footer */
footer {
  background-color: black;
}

footer h1 {
  color: white;
  font-family: "Quicksand";
}

.contact {
  background-color: aquamarine;
}

.custom-flex-container {
  display: flex;
  justify-content: space-between;
}

.svg-container {
  display: flex;
  align-items: center;
  padding: 3px;
}

.icon-wa {
  margin-right: 10px;
}

.svg-tokped {
  height: auto;
  width: 22px;
  margin-right: 10px; /* Adjust this margin as needed */
}

/* Product Page */
.product {
  margin-top: 40px; /* You can adjust this margin as needed */
  min-height: 82.5vh;
}

.product-slide {
  scale: 100%;
}
.product-container {
  display: flex;
  gap: 60px;
}

.picture-center {
  text-align: center;
}

/* Media Query */

@media (max-width: 768px) {
  .center-content {
    padding: 2rem 2rem;
  }
}
@media (max-width: 640px) {
  .center-content {
    padding: 1rem 1rem;
  }
}

@media (max-width: 767px) {
  .custom-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .container-alamat,
  .container-find-us {
    margin-bottom: 1.5rem;
  }
}

@media (width: 768px) {
  .container-find-us {
    margin-right: 1.5rem;
  }
}

@media (max-width: 768px) {
  .product-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
}

/* TEST */

.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-image img {
  /* max-width: 70%;
  max-height: 70%; */
  transition: transform 0.3s ease;
}

.small-images {
  display: flex;
  gap: 10px;
}

.small-image {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.small-image:hover {
  border: 2px solid #007bff;
}

.remove-border {
  border: 0;
}
