@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Quicksand";
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Reset list styles */
ul,
ol {
  list-style: none;
}

/* Reset anchor styles */
a {
  text-decoration: none !important;
  color: inherit;
}

/* Apply box-sizing to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 80px; /* height of sticky header */
}

/* Reset CSS end */

.logo-main {
  width: 75px;
  height: auto;
  padding: 5px;
}

body {
  padding-top: 80px; /* Adjust this value based on your navbar height */
}

/* Navbar Transparent */
.custom-navbar {
  transition: background-color 0.3s ease-in-out !important;
  transition: all 0.3s; /* Add a smooth transition effect */
}

.custom-navbar.transparent {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.navbar-font {
  color: rgb(105, 105, 105) !important;
}

.custom-nav > li > a {
  font-family: "Quicksand";
  font-size: 1rem;
  font-weight: 600;
}

a:hover {
  color: gray;
}
.uk-navbar-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 4rem;
  text-align: center;
}

.center-content > div {
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* Section 2 */
.section-2,
.section-3 {
  background-color: rgb(238, 237, 237);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.title-margin {
  margin-bottom: 1rem;
}

.custom-card {
  border-radius: 10px;
  overflow: hidden;
}

.uk-card-height {
  height: 500px;
}

.uk-card.modified {
  transition: background-color 0.3s;
  background-color: initial;
}

.uk-card.modified:hover {
  background-color: rgb(46, 46, 46);
}

.uk-card.modified:hover .uk-card-title {
  color: white;
}

.uk-card.modified:hover .product-text {
  color: white;
}

.section-3 {
  background-color: white;
}
.custom-svg {
  width: 22px; /* Set your desired width here */
  height: auto; /* Maintain aspect ratio */
}
/* Footer */

footer h1 {
  color: black;
  font-family: "Quicksand";
}

.custom-flex-container {
  display: flex;
  justify-content: space-between;
}

.svg-container {
  display: flex;
  align-items: center;
  padding: 3px;
}

.icon-wa {
  margin-right: 10px;
}

.svg-tokped {
  height: auto;
  width: 22px;
  margin-right: 10px; /* Adjust this margin as needed */
}

/* Product Page */
.product {
  margin-top: 40px; /* You can adjust this margin as needed */
  min-height: 82.5vh;
}

.product-slide {
  scale: 100%;
}
.product-container {
  display: flex;
  gap: 60px;
}

.picture-center {
  text-align: center;
}

/* Media Query */

@media (max-width: 768px) {
  .center-content {
    padding: 2rem 2rem;
  }
}
@media (max-width: 640px) {
  .center-content {
    padding: 1rem 1rem;
  }
}

@media (max-width: 767px) {
  .custom-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .container-alamat,
  .container-find-us {
    margin-bottom: 1.5rem;
  }
}

@media (width: 768px) {
  .container-find-us {
    margin-right: 1.5rem;
  }
}

@media (max-width: 960px) {
  .product-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
}

/* TEST */

.image-gallery {
  display: flex;
  flex-direction: column;
}

.image-gallery-small {
  align-items: center;
}

.big-image img {
  transition: transform 0.3s ease;
}

.image-size {
  width: 200px;
}

.small-images {
  display: flex;
  gap: 10px;
}

.small-image {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.small-image:hover {
  border: 2px solid #007bff;
}

.remove-border {
  border: 0;
}

.accordion {
  border: solid 0.5px black;
  border-radius: 10px;
}

.tester {
  background-color: #007bff;
}

.small-navbar {
  height: 60px;
}

.small-navbar .navbar-font {
  font-size: 0.8em; /* Use a relative font size (em or rem) */
}

.small-navbar .custom-card .uk-nav a {
  font-size: 1em; /* Use a relative font size for dropdown links */
}

.small-navbar .navbar-font,
.small-navbar .custom-card .uk-nav a {
  padding-bottom: 1rem;
}

.small-navbar .logo-main {
  width: 60px;
  height: auto;
}

.product-breadcrumb {
  padding: 2rem 0px 2rem;
  margin-top: 2rem;
}

.product-title {
  font-size: xx-large;
}

.table-product {
  margin-top: 35px;
  border-radius: 20px;
  max-width: 500px;
  font-weight: 400;
}

.product-img {
  margin-top: 30px;
  border-radius: 20px;
}

#kontak-kami {
  background-color: rgb(66, 35, 35);
  color: white;
}

.product-desc {
  margin-top: 23px;
  padding-bottom: 20px;
}

.logo-scroll {
  padding-bottom: 20px;
}

.border-map {
  border-radius: 20px !important;
}

.footer-title {
  color: white;
  font-weight: 500;
}

/* TEST WIDGET */
.chat-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.main-button {
  background-color: #25d366; /* Green color, you can customize this */
  color: #fff;
  border-radius: 10px;
  width: auto;
  height: 40px;
  text-align: center;
  padding: 20px;
  line-height: 0;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main-button:hover {
  background-color: #198d44;
}

.options {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.options a {
  background-color: #25d366; /* Green color, you can customize this */
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.options a:hover {
  background-color: #128c7e; /* Darker green color for hover state */
}

.close-button {
  background-color: #128c7e;
  color: white;
  margin-bottom: 10px;
  width: 20px;
  text-align: center;
  border-radius: 5px;
  display: none;
  cursor: pointer;
}

.hamburger-scroll {
  margin-top: -20px !important;
}

.image-product {
  height: 250px;
  width: 500px;
}
